.cannot-be-empty{	color: red;}
.lable_input {	font-weight: bold;}
.input-group-text {padding: 6px 5px; }
.input-group-addon span:hover {background-color: lightblue;}
.img-calendar-icon {height: 24px; width: auto;}
.form-group .help-alert {
    color: #dd4b39;
}
.has-error .help-alert, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
}

.help-alert {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
/*#BitrixID {
  height: 0px !important;
  opacity: 0 !important;
  position: absolute !important;
  display: flex !important;
}*/
